/* Used to Define Global Fonts + Color Pallette */
:root {
    --font_default: "Palatino";
}

* {
    margin: 0;
}

div,p {font-family: var(--font_default);}

@font-face {
    font-family: AlexBrush;
    src: url('./Alex_Brush/AlexBrush-Regular.ttf');
}    

/* Header */
/* Header photo (logo) by <a href="https://unsplash.com/@picoftasty?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mae Mu</a> on <a href="https://unsplash.com/s/photos/bakery-logo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
header {
    background-color: #F7ECD4;
    width: 100%;
    height: 85px;
    display: inline-flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    z-index: 50;
}

/* Nav bar */
.nav_bar {
    width: 100%;
    display: inline-flex;
}

.name_logo {
    flex-wrap: wrap;
    padding-left: 10px;
}

.logo {
    padding-left: 11.35px;
}

.logo img {
    border-radius: 50%;
}

.bakery_name {
    font-family: AlexBrush;
}

.nav_bar * {
    display: inline-flex;
}

.nav_bar_ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
    justify-content: flex-end;
}

.nav_bar_ul li {
    padding: 5px;
}

.nav_bar_ul li a {
    color:black;
}

/* Page Heading */
/* Image Source: https://www.istockphoto.com/photo/preparation-of-pastry-woman-rolling-dough-top-view-gm1154068600-313663947 */
.backdrop {
    text-align: center;
    background-image: url("./media/gallery/cake/dough-rolling.jpg");
    width: 100%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 85px;
}

.backdrop h1 {
    padding-top: 4vw;
}

/* Heading Rules */
h1 {
    text-align: center;
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

/* footer */
footer {
    background-color: #F7ECD4;
    width: 100%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 50;
}