/* Used to Define Global Fonts + Color Pallette */
:root {
    /* Color Pallette */
    --taupe: #3f2d37;
    --muave: #7E5A6E;
    --gray-pink: #A57F88;
    --light-pink: #D9B8AD;
    --creme: #F7ECD4;

    --font_default: "Palatino";
}

* {
    margin: 0;
}

/* stop whitespace on bottom of page */
body {
    background-color: var(--creme);
}

div,p,h1,h2,h3 {font-family: var(--font_default);}

@font-face {
    font-family: AlexBrush;
    src: url('./Alex_Brush/AlexBrush-Regular.ttf');
}    

/* Header */
/* Header photo (logo) by <a href="https://unsplash.com/@picoftasty?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mae Mu</a> on <a href="https://unsplash.com/s/photos/bakery-logo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
header {
    background-color: var(--creme);
    width: 100%;
    height: 85px;
    display: inline-flex;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    z-index: 50;
}

/* Nav bar */
.nav_bar {
    width: 100%;
    display: inline-flex;
}

.name_logo {
    flex-wrap: wrap;
    padding-left: 10px;
}

.logo {
    padding-left: 11.35px;
}

.logo img {
    border-radius: 50%;
}

.bakery_name {
    font-family: AlexBrush;
}

.nav_bar * {
    display: inline-flex;
}

.nav_bar_ul {
    padding: 0px;
    width: 100%;
    height: 26px;
    list-style-type: none;
    justify-content: flex-end;
}

.nav_bar_ul li {
    font-size: 1.5vw;
    padding: 0.75vw;
}

.nav_bar_ul li a {
    color: var(--taupe);
}

.nav_bar_ul li a:hover {
    font-weight: bold;
    text-decoration: underline overline var(--taupe);
}

/* Page Heading */
/* Image Source: https://www.istockphoto.com/photo/preparation-of-pastry-woman-rolling-dough-top-view-gm1154068600-313663947 */
.backdrop {
    text-align: center;
    background-image: url("./media/gallery/cake/dough-rolling.jpg");
    width: 100%;
    height: 23vw;
    line-height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    padding-top: 85px;
}

/* Heading Rules */
h1 {
    text-align: center;
    font-size: 7vw;

    /* Adding Stroke to Make Text More Readable --> Didn't Like It */
    /* -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: var(--creme); */
}

h2 {
    padding: 2vw 0vw;
    font-size: 4vw;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 3.5vw;
}

h1,h2,h3 {
    color: var(--taupe);
}

.text_block {
    background-color: var(--taupe);
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text_block * {
    color: var(--creme);
    text-align: center;
    padding: 0vw 0px;
}

.text_block p {
    margin: 1vw 0px;
    font-size: 1vw;
}

.text_block a:hover {
    background-color: var(--creme);
    color: var(--taupe);
}

.text_block p:first-of-type {
    margin: 0px;
    font-size: 1.75vw;
}

/* Image Grid Rules */
.image_grid {
    background-color: var(--gray-pink);
    text-align: center;
    width: 100%;
}

.image_grid * {
    text-align: center;
    color: white;
    width: 100%;
}

.image_grid h2 {
    color: white;
    width: 100%;
    font-size: 4vw;
    padding-top: 2vw;
}

.image_grid img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin: 0vw 0vw;
    border-radius: 10px;
    /* border: 3.5px solid; border-color: var(--muave); */
}

.image_grid td {
    padding: 2vw 0vw;
}

.image_grid .item {
    display: inline;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin: 2vw;
    border-radius: 10px;
}

/* for menu.html */
.menuWrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    MARGIN-BOTTOM: 100px;
}

h4 {
    text-align: center;
    font-size: 7vw;
    color: white;
    /* Adding Stroke to Make Text More Readable --> Didn't Like It */
    /* -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: var(--creme); */
}

/* for services.html */

.servicesHeader {
    text-align: center;
    color: white;
    background-image: url("./media/services/baker.jpg");
    width: 100%;
    height: 20vw;
    line-height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    padding-top: 85px;
}

.image_grid h5 {
    font-size: 1.5vw;
}

.gridInfo {
    padding: 2vw;
}

/* footer */
footer {
    background-color: var(--creme);
    width: 100%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

